header{
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
background-color: #0d6efd;
  color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bolder;
    
}
.basketcount{
    padding-top: -230px;
    color: red;
    font-size: 18px;
    
}
.logotitile{
    background-color: #0d6efd;
  color: white;

}

.navbar-nav li a:hover{
    /* background-color: #0d6efd; */
  color: #0d6efd,

}